@font-face {
  font-family: "iconfont"; /* Project id 3802864 */
  src: url('iconfont.woff2?t=1669878350503') format('woff2'),
       url('iconfont.woff?t=1669878350503') format('woff'),
       url('iconfont.ttf?t=1669878350503') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e8ab";
  font-weight: bold;
}

